<div class="container">
  <h1>Welcome to Sinatra</h1>
  <% if @word %>
    <p>Anagrams for <%= params["user_input"]%> : <p>
      <b><p><span id="list_anagrams"><%= @word %></span></p></b>
  <% end %>

  <form action="/anagrams" method="post">
    What anagrams do you want to find?
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Find it!">
  </form>

</div>
